html,
body,
main {
  height: 100%;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Roboto", serif;
}
a {
  transition: all 0.4s ease;
  text-decoration: none;
}
.reveal {
  opacity: 0;
  transform: translate3d(0, 100px, 0);
  transition: opacity 1s, transform 1s;
}
.reveal_visible {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
}
/****** nav ********/
button.navbar-toggler {
  border: none;
}
a.navbar-brand {
  padding: 18px 0px;
}
.mobil-search {
  width: 100%;
  margin-right: 1.2em;
}
.offcanvas-body {
  display: flex;
  flex-direction: column;
  flex-grow: initial;
  overflow-x: hidden;
}
@media only screen and (min-width: 992px) {
  .navbar-expand-lg .offcanvas .offcanvas-body {
    flex-direction: column !important;
  }
}
.navbar-brand img,
img.mobile-logo {
  width: 130px;
}

@media only screen and (min-width: 500px) {
  .navbar-brand img,
  img.mobile-logo {
    width: 200px;
  }
}

/*
@media only screen and (min-width: 992px) {
  .dropdown-toggle::after {
    border: 0px !important;
    position: absolute;
    content: "";
    background-color: #1b44a0;
    width: 100%;
    left: 0;
    bottom: 4px;
    height: 0;
    transition: 0.25s ease-in-out;
  }
  .dropdown-toggle:hover:after {
    height: 3px;
  }
  .dropdown-toggle.show::after {
    height: 3px;
  }
}

*/

.main-nav .dropdown-menu {
  position: fixed;

  top: 72px;
  margin: 0;
  border: none;
  border-radius: 0px;
  width: 100%;
  padding: 1em;
  bottom: 0;
  overflow-y: scroll;
}
@media only screen and (min-width: 500px) {
  .main-nav .dropdown-menu {
    top: 89px;
  }
}
.offcanvas.offcanvas-end {
  width: 100%;
  border: none;
}
.main-nav .dropdown {
  position: static;
}
.dropdown-toggle::after {
  font-family: "Font Awesome 6";
  content: "\2b";
  margin-left: 5px;
  vertical-align: initial;
  border-top: none;
  border-right: none;
  border-bottom: none;
  border-left: none;
  color: inherit;
  font-size: 1.3em;
}
.back-btn button {
  border: none;
  background: none;
  font-size: 1.2em;
  color: #6175ab;
}
.back-btn {
  padding: 1em 0em;
  border-bottom: solid 1px #dddddd;
}
span.navy-title {
  display: block;
  margin-top: 0.7em;
  font-family: "EB Garamond", "Times New Roman", serif;
  font-size: 3em;
  font-weight: 600;
  margin-bottom: 0.5em;
  line-height: 1em;
}
@media only screen and (min-width: 992px) {
  .dropdown-toggle::after {
    content: "";
    border: none;
    margin: 0px;
    vertical-align: initial;
    padding: 0px;
  }
  .back-btn {
    display: none;
  }
}
@media (min-width: 992px) {
  .main-nav .dropdown-menu::after {
    content: "";
    position: absolute;
    background: #1616169c;
    height: 100%;
    width: 100%;
    left: 0px;
    z-index: -1;
    height: 100vh;
    margin-top: 4em;
  }
  .navbar-expand-lg .navbar-nav.main-nav .dropdown-menu {
    position: absolute;
    bottom: initial;
    margin-top: -1px;
    border-radius: 0px;
    padding: 4em 1.5em;
    border-top: 1px solid #e8e8e8;
    height: initial;
    top: initial;
    overflow-y: initial;
  }
}

form.desk-top-form {
  max-width: 900px;
  margin: 0 auto;
}
a.navbar-brand:hover {
  opacity: 0.8;
}
.btn-nav {
  gap: 0.5em;
  margin-bottom: 1em;
  margin-top: 0.8em;
  order: 3;
}
.main-nav {
  margin-top: 1em;
}
@media only screen and (min-width: 992px) {
  .main-nav {
    margin-top: 0em;
  }
  .btn-nav {
    order: initial;
  }
  .mobil-search {
    display: none !important;
  }
  .main-nav {
    gap: 5px;
  }
}

.btn-nav .nav-link,
.main-nav a.btn-green {
  background: #2c928d;
  color: #fff;
  padding: 0.7em 1.5em !important;
  border-radius: 2px;
  font-weight: 500;
  text-align: center;
  display: inline-block;
}
.btn-nav .nav-link:hover,
.main-nav a.btn-green:hover {
  background: #237c78;
  border-radius: 255px 15px 225px 15px / 15px 225px 15px 255px;
}
.main-list-nav {
  display: flex;
  margin-top: 1.5em;
  gap: 2em;
  flex-wrap: wrap;
}
@media only screen and (min-width: 992px) {
  .main-list-nav {
    gap: 4em;
  }
}
span.navy-title-small {
  display: block;
  font-weight: 600;
  margin-bottom: 9px;
}
.list-group {
  line-height: 2.3em;
}
.list-group li {
  list-style: none;
  margin-bottom: 4px;
}
.list-group a {
  padding: 10px 0px;
  color: #6175ab;
  font-weight: 500;
  border-bottom: 0px solid #fff;
}
.list-group a:hover {
  border-bottom: 3px solid;
}
.main-nav a.nav-link.dropdown-toggle {
  font-size: 1.3em;

  color: #0b2753;
  font-weight: 700;
  /* margin-bottom: 0.2em; */
  border-bottom: solid 1px #c3d9d8;
  display: block;
  padding: 1em;
  display: flex;

  justify-content: space-between;
  align-items: center;
}
@media only screen and (min-width: 992px) {
  .mega-nav-box {
    display: flex;
    gap: 5em;

    justify-content: center;
  }
  span.navy-title {
    margin-top: 0px;
  }
  .main-nav a.nav-link.dropdown-toggle {
    font-size: 1em;
    padding: 0.8em 0.7em 0.6em;
    color: #0b2753;
    font-weight: 500;
    margin-bottom: 0.2em;
    border-bottom: solid 0px #c3d9d8;
    display: block;
  }
}
a.searchy.nav-link.dropdown-toggle {
  padding-bottom: 2.8px;
}

@media only screen and (min-width: 992px) {
  .main-nav a.nav-link.dropdown-toggle:hover {
    color: #6175ab;
  }
  .main-nav a.nav-link.dropdown-toggle.show {
    color: #6175ab;
  }
}
@media only screen and (min-width: 1200px) {
  .navbar-brand img {
    width: 310px;
  }
}
nav.navbar.navbar-expand-lg {
  padding: 0px;
}

@media (min-width: 200px) {
  .animate {
    animation-duration: 0.7s;
    -webkit-animation-duration: 0.7s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
  }
}

@keyframes slideIn {
  0% {
    transform: translateY(-1rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0rem);
    opacity: 1;
  }
  0% {
    transform: translateY(-1rem);
    opacity: 0;
  }
}

@-webkit-keyframes slideIn {
  0% {
    -webkit-transform: translateY(-1rem);
    -webkit-opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0rem);
    -webkit-opacity: 1;
  }
  0% {
    -webkit-transform: translateY(-1rem);
    -webkit-opacity: 0;
  }
}

.slideIn {
  -webkit-animation-name: slideIn;
  animation-name: slideIn;
}

/****** vid hero ********/
.vid-hero {
  position: relative;
  height: 85%;
  overflow: hidden;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.vid-hero::after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: inherit;
  background-image: linear-gradient(
    -180deg,
    rgb(0 0 0 / 15%) 31%,
    rgb(255 255 255 / 15%) 114%
  );
  content: "";
  height: 100%;
}

@media only screen and (min-width: 768px) {
  .vid-hero::after {
    background-image: linear-gradient(
      -180deg,
      rgb(0 0 0 / 44%) 31%,
      rgb(255 255 255 / 37%) 114%
    );
  }
}

#background-video {
  object-fit: cover;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.vid-hero::before {
  content: "";
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" fill="%230B2753"><path d="M0 1v99c134.3 0 153.7-99 296-99H0Z" opacity=".5"></path><path d="M1000 4v86C833.3 90 833.3 3.6 666.7 3.6S500 90 333.3 90 166.7 4 0 4h1000Z" opacity=".5"></path><path d="M617 1v86C372 119 384 1 196 1h421Z" opacity=".5"></path><path d="M1000 0H0v52C62.5 28 125 4 250 4c250 0 250 96 500 96 125 0 187.5-24 250-48V0Z"></path></svg>');
  width: 100%;
  position: absolute;
  height: 100%;
  z-index: 1;
  background-repeat: no-repeat;
  bottom: -1px;
  transform: scale(1, -1);
}

.header-vid-btn {
  display: none;
  position: absolute;
  top: 10%;
  right: 10%;
  z-index: 3;
  color: #fff;
  font-size: 1.3em;
  background: none;
  border: none;
  text-shadow: 0px 0px 11px #2828289e;
}
.header-vid-btn .material-icons {
  font-size: 2em;
}
.header-vid-btn.hide-btn {
  display: none;
}

@media (min-width: 768px) {
  .header-vid-btn {
    display: block;
  }
  .hero-img {
    display: none;
  }
}

@media (max-width: 767px) {
  #background-video {
    display: none;
  }
  .vid-hero {
    background: #00703d;
    align-items: center;
    height: initial;
    height: 89%;
  }
  .hero-img {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
  .hero-img img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  a.hero-btn {
    display: inline-block;
    padding: 19px 26px;
    color: #ffffff;
    border: solid 1px #fcd703;

    margin: 0 auto;
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 1.3em;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
}
.hero-heading {
  display: flex;

  z-index: 6;
  position: relative;
}

.hero-heading h2 {
  font-family: "EB Garamond", "Times New Roman", serif;
  font-size: 10vw;
  font-weight: bold;
  /* z-index: 5; */
  color: #fff;
  padding: 0px 15px;
  text-shadow: #00000066 1px 0 15px;
}
@media only screen and (min-width: 992px) {
  .hero-heading h2 {
    font-size: 8vw;
    padding: 0px;
  }
}
.section {
  position: relative;
  padding: 6em 0em;
}

.section.section-one {
  background: #0d2753;
}

/* --------------------------------

 Block Styles - Featured Content full width

-------------------------------- */
.full-width-feature {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  font-size: 0.7em;
  padding: 0em 0em 0em 0em;
  margin-bottom: 3em;
  gap: 10px;
}
@media (min-width: 767px) {
  .full-width-feature {
    font-size: 1em;
  }
}
.fullwidth-edit-section .full-width-feature:last-of-type {
  margin-bottom: 0em;
}

.feature-img {
  flex-basis: 50%;
}
.feature-img img {
  height: 100%;
  object-fit: cover;
  margin-bottom: 0px;
  width: 100%;
}
.feature-content {
  padding: 2em 15px 0px;
  color: #fff;
}
span.feature-heading-green {
  font-weight: bold;
  margin-bottom: 0.4em;
  font-size: 4.5em;
  line-height: 1em;
  display: block;
  font-family: "EB Garamond", "Times New Roman", serif;

  color: #fff;
}
.feature-content p {
  font-size: 1.5em;
}
a.btn-green.no-btn {
  display: none !important;
}
a.btn-green.display-btn {
  text-decoration: none;
  color: #ffffff;
  padding: 1.3em 2em;
  display: inline-block;
  font-size: 1.2em;
  font-weight: 800;
  border-width: 4px;
  border-style: solid;
  border-image: linear-gradient(to right, #6175ab, #2c928d) 1;

  margin-top: 1em;
}

a.btn-green.display-btn:hover {
  border: solid 4px #fff;
  background: #fff;
  color: #0d2753;
  border-radius: 255px 15px 225px 15px / 15px 225px 15px 255px;
}

@media only screen and (min-width: 992px) {
  .full-width-feature {
    flex-direction: row;
    padding: 0em;
  }
  .feature-content {
    flex-basis: 50%;
    padding: 2em 3em;
    align-content: center;
  }
  .feature-img-right .feature-img {
    order: 2;
  }
}
@media only screen and (min-width: 1630px) {
  .feature-content {
    padding: 2em 6em;
  }
}
@media only screen and (min-width: 2060px) {
  .full-width-feature {
    padding: 0em 4vw;
  }
}

/* -------------------------------- 

Sec two
-------------------------------- */

.head {
  text-align: center;
  padding: 0 15px;
  margin-bottom: 5em;
}
.head h2 {
  font-weight: bold;
  margin-bottom: 0.4em;
  font-size: 5.5em;
  line-height: 1em;
  display: block;
  font-family: "EB Garamond", "Times New Roman", serif;
  color: #1e1e1e;
}
.head p {
  font-size: 1.5em;
}
/* -------------------------------- 

Stats Content Styles

-------------------------------- */
.section-two {
  margin: 0 auto;
  font-size: 0.7em;
}

@media only screen and (min-width: 767px) {
  .section-two {
    font-size: 1em;
  }
}

.fig-number,
.percent {
  font-size: 5em;
  text-align: center;
  text-transform: uppercase;
  /* margin-bottom: 1em; */
  font-weight: bold;

  display: inline-block;
  color: #1e1e1e;
  line-height: 1.2em;
}
.numbers {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  max-width: 1600px;
  margin: 0 auto;
  gap: 3em;
  margin-top: 8em;
  padding: 0 0em;
  font-size: 1.2em;
}
@media only screen and (min-width: 767px) {
  .numbers {
    font-size: 1em;
  }
}

.number-box {
  flex: 1;
  padding: 2em;
  margin-bottom: 6em;
  background: #e4e4e4;
  border-radius: 0px;
  padding-bottom: 3em;
  box-shadow: 11px 11px 0 0 rgb(45 145 141);

  border-bottom: solid 4px #2d918d;
  border-top: solid 4px #2d918d;
}
.num-cont {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: nowrap;

  align-items: center;
  color: #1e1e1e;
}

.numbers .material-icons {
  display: block;
  font-size: 10em;
  color: #2c928d;
  margin-bottom: 8px;
  margin-top: -85px;
  text-shadow: #13f4ff 1px 0 8px;
}

@media only screen and (min-width: 767px) {
  .numbers .material-icons {
    margin-top: -117px;
  }
}
.num-cont p {
  margin-bottom: 1em;
  font-size: 1.3em;
}

@media only screen and (min-width: 992px) {
  .number-box {
    margin-bottom: 0em;
    padding-bottom: 2em;
    font-size: 0.8em;
    border-radius: 6px;
    border: solid 4px #2d918d;
  }
  .numbers .material-icons {
    margin-top: -97px;
  }
  .numbers {
    flex-direction: row;
    margin-top: 7em;
    padding: 0 2em;
  }
}
@media only screen and (min-width: 1300px) {
  .fig-number,
  .percent {
    font-size: 7em;
  }
  .numbers {
    flex-direction: row;
    margin-top: 10em;
  }
  .number-box {
    font-size: 1em;
  }
  .numbers .material-icons {
    margin-top: -117px;
  }
}
.numbers a.btn-green {
  text-decoration: none;
  color: #0d2753;
  padding: 1.3em 2em;
  display: inline-block;
  font-size: 1.2em;
  font-weight: 800;
  border-width: 4px;
  border-style: solid;
  border-image: linear-gradient(to right, #6175ab, #2c928d) 1;
  margin-top: 1em;
}
.numbers a.btn-green:hover {
  background: #0d2753;
  border: solid 4px #0d2753;
  color: #fff;
  border-radius: 255px 15px 225px 15px / 15px 225px 15px 255px;
}
/* -------------------------------- 

Footer Styles

-------------------------------- */

footer {
  background: #0d2753;
  padding-top: 3.5em;
  color: #fff;
  padding-bottom: 1.5em;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
footer::before {
  content: "";
  background-image: url("../images/Presidents-Seal-logo-White.png");
  width: 100%;
  position: absolute;

  z-index: -1;
  background-repeat: no-repeat;
  bottom: 0;

  opacity: 0.03;
  top: -400px;
}
footer img {
  width: 100%;
}
footer a {
  color: #fff;
}
.footer-inner {
  display: flex;

  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 15px;
  text-align: center;
  flex-direction: column;
}
@media only screen and (min-width: 992px) {
  .footer-inner {
    padding: 0 3em;
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
  }
}
.logo-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-box-2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-box-3 {
  display: flex;
  gap: 2em;
  justify-content: center;
  margin-top: 1em;
  margin-bottom: 2em;
}

@media only screen and (min-width: 992px) {
  .footer-box-3 {
    gap: 5em;
    justify-content: flex-end;
    margin-top: 0px;
    margin-bottom: 0px;
  }
}
img.seal {
  max-width: 8em;
  margin-bottom: 1em;
}
footer ul {
  padding-left: 0px;
}

footer li {
  list-style: none;
}
footer a.btn-green.display-btn {
  padding: 0.7em 1.5em;
  margin-bottom: 1.5em;
  font-weight: 400;
}
ul.social-link-container {
  font-size: 1.5em;
  display: flex;
  margin-top: 1em;
  width: 250px;
  justify-content: space-between;
  margin: 1em auto;
}
@media only screen and (min-width: 992px) {
  ul.social-link-container {
    font-size: 1.5em;
    display: flex;
    margin-top: 1em;
    width: initial;
    justify-content: space-between;
    margin: initial;
    margin-top: 3em;
  }
}
.social-link-container li {
  display: inline;
}
.social-link-container img {
  width: 2em;

  filter: invert(13%) sepia(30%) saturate(3238%) hue-rotate(197deg)
    brightness(90%) contrast(99%);
}
h3.foot-header {
  font-family: "EB Garamond", "Times New Roman", serif;
  margin-bottom: 0.7em;
  font-size: 1.4em;
  color: #10f4ff;
}
.footer-box-3-inner {
  line-height: 3em;
  font-size: 0.9em;
}
@media only screen and (min-width: 992px) {
  .footer-box-3-inner {
    line-height: 2.5em;
  }
}
.footer-box-4 {
  font-size: 0.9em;
}
.footer-box-4 p {
  margin-bottom: 0px;
}
footer a:hover {
  color: #10f4ff;
}
