html,
body,
main {
  height: 100%;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Roboto", serif;
}
/****** nav ********/
@media only screen and (min-width: 992px) {
  .navbar-expand-lg .offcanvas .offcanvas-body {
    flex-direction: column !important;
  }
}
.navbar-brand img {
  width: 200px;
}

.btn-nav {
  gap: 0.5em;
  margin-bottom: 1em;
  margin-top: 0.8em;
}
.main-nav a.nav-link.dropdown-toggle {
  padding: 0.8em 0.7em;
}
.btn-nav .nav-link {
  background: #2c928d;
  color: #fff;
  padding: 0.7em 1.5em !important;
  border-radius: 2px;
  font-weight: 500;
}

.main-nav a.nav-link.dropdown-toggle {
  padding: 0.8em 0.7em;
  color: #0b2753;
  font-weight: 500;
}
@media only screen and (min-width: 1200px) {
  .navbar-brand img {
    width: 310px;
  }
}
nav.navbar.navbar-expand-lg {
  padding: 0px;
}

@media (min-width: 200px) {
  .animate {
    animation-duration: 0.7s;
    -webkit-animation-duration: 0.7s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
  }
}

@keyframes slideIn {
  0% {
    transform: translateY(-1rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0rem);
    opacity: 1;
  }
  0% {
    transform: translateY(-1rem);
    opacity: 0;
  }
}

@-webkit-keyframes slideIn {
  0% {
    -webkit-transform: translateY(-1rem);
    -webkit-opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0rem);
    -webkit-opacity: 1;
  }
  0% {
    -webkit-transform: translateY(-1rem);
    -webkit-opacity: 0;
  }
}

.slideIn {
  -webkit-animation-name: slideIn;
  animation-name: slideIn;
}

/****** vid hero ********/
.vid-hero {
  position: relative;
  height: 83%;
  overflow: hidden;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.vid-hero::after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: inherit;
  background-image: linear-gradient(
    -180deg,
    rgba(0, 0, 0, 0) 31%,
    rgb(0 0 0 / 35%) 85%
  );
  content: "";
}

#background-video {
  object-fit: cover;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
@media (min-width: 768px) {
  .hero-img {
    display: none;
  }
}

@media (max-width: 767px) {
  #background-video {
    display: none;
  }
  .vid-hero {
    background: #00703d;
    align-items: initial;
    height: initial;
  }

  .hero-img img {
    max-width: 40%;
    margin: 0 auto;
    display: block;

    padding: 20px 0px;
  }

  a.hero-btn {
    display: inline-block;
    padding: 19px 26px;
    color: #ffffff;
    border: solid 1px #fcd703;

    margin: 0 auto;
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 1.3em;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
}
